* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

%flex {
  display: flex;
}

.media-player {
  height: 100%;
  width: 100%;
  display: grid;
  grid-column: 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
  grid-template:
    "b2 b1 b1 b1"
    "b3 b3 b3 b3"
    "b4 b4 b4 b4";

  .wavesurfer-container {
    grid-area: b1;
    background: lightseagreen;
    @extend %flex;

    .wavesurfer-player {
      flex: 1;
      align-self: center;
    }
  }

  .run-time {
    grid-area: b2;
    background: olivedrab;
    @extend %flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .now {
      font-size: xx-large;
    }

    .total {
      font-size: large;
    }
  }

  .media-detail {
    grid-area: b3;
    background: lightskyblue;
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: xx-large;
    }

    .meta {
      font-size: large;
    }
  }

  .control-bar {
    grid-area: b4;
    background: lightsteelblue;
    @extend %flex;
    align-content: space-around;
    justify-items: center;
    align-items: center;
    div {
      @extend %flex;
      flex: 1;
      justify-content: center;
    }
  }
}

@media screen and (max-width:400px) {
  .media-player {
    grid-template: none;

    .wavesurfer-container {
      grid-column: 1/3;
      grid-row: 1/2;
    }

    .run-time {
      display: none;
    }

    .media-detail {
      grid-column: 1/3;
      grid-row: 2/3;
    }

    .control-bar {
      grid-column: 1/3;
      grid-row: 3/4;
    }
  }
}