* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$primary-color: #00baff;
$primary-white: #fff;

body {
  font-family: sans-serif;
  background: #1E1E1E;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #1E1E1E;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}

header {
  display: flex;
  height: 5vh;
  margin: auto;
  align-items: center;
  background: #323233;
  color: $primary-white;
}

.logo-container {
  display: flex;
  flex: 1;

  img {
    height: 50px;
    width: 50px;
  }

  h4 {
    margin: auto 5px;
  }
}

nav {
  flex: 2;

  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;

    .nav-link {
      text-decoration: none;
      color: $primary-white;
    }
  }
}

.video-container {
  display: flex;
  flex-direction: column;

  .video-section-1 {
    display: flex;
    flex-direction: row;
  }

  .play-section {
    flex: 2;

    iframe {
      width: 100%;
      height: 50vh;
    }

    .video-download-container {
      display: flex;
    }

    .download-input {
      background: transparent;
      border: solid 2px $primary-color;
      color: white;
      width: 100%;
      height: 4vh;
      padding: 0px 5px;
    }
  }

  .history-section {
    flex: 1;

    .section-decs {
      border: solid $primary-color;
      padding: 5px;
      color: $primary-color;
      text-align: center;
      font-weight: bold;
    }

    ul {
      margin: 5px 2px 0 2px;
      list-style-type: none;
      overflow: auto;
      height: 45vh;
      color: $primary-color;

      li {
        margin: 5px 0 0 0;
        border-bottom: solid 2px #323233;
      }
    }
  }

  .download-section {
    margin: 1.2em 0 0 0;
    color: #ddd;

    .section-decs {
      border: solid $primary-color;
      padding: 5px;
      color: $primary-color;
      text-align: center;
      font-weight: bold;

    }

    ul {
      list-style: none;

      li {
        padding: 1em;
        background: #333;
      }

      li:nth-child(odd) {
        background: #222;
      }
    }
  }
}

.btn-primary {
  background: transparent;
  color: $primary-color;
  border: solid 2px $primary-color;
  height: 4vh;
  padding: 0 5px;
  cursor: pointer;
}