* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$primary-color: #00baff;

body {
  font-family: sans-serif;
  background: #1E1E1E;
  color: #fff;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #1E1E1E;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}

%flex {
  display: flex;
}

%ul-style {
  ul {
    list-style: none;

    li {
      cursor: pointer;
      padding: 1em;
      background: #333;

      &:hover {
        background: #444;
      }
    }

    li:nth-child(odd) {
      background: #222;
    }

    li:hover:nth-child(odd) {
      background: #444;
    }
  }
}

header {
  @extend %flex;
  height: 5vh;
  margin: auto;
  align-items: center;
  background: #323233;
  color: #fff;
}

.logo-container {
  @extend %flex;
  flex: 1;

  img {
    height: 50px;
    width: 50px;
  }

  h4 {
    margin: auto 5px;
  }
}

nav {
  flex: 2;

  .nav-links {
    @extend %flex;
    justify-content: space-around;
    list-style: none;

    .nav-link {
      text-decoration: none;
      color: #fff;
    }
  }
}

// Video Section

.video-container {
  @extend %flex;
  flex-direction: column;

  .video-section-1 {
    @extend %flex;
    flex-direction: row;
  }

  .play-section {
    flex: 2;

    iframe {
      width: 100%;
      height: 50vh;
    }

    .video-download-container {
      @extend %flex;
    }

    .download-input {
      background: transparent;
      border: solid 2px $primary-color;
      color: white;
      width: 100%;
      height: 3em;
      padding: 0px 5px;
    }

    .btn-group {
      @extend %flex
    }
  }

  .history-section {
    flex: 1;

    .section-decs {
      border: solid $primary-color;
      padding: 5px;
      color: $primary-color;
      text-align: center;
      font-weight: bold;
    }

    ul {
      padding: 10px 5px;
      max-height: 20em;
      list-style-type: none;
      overflow: auto;
      color: $primary-color;

      li {
        margin: 5px 0 0 0;
        border-bottom: solid 2px #323233;
      }
    }
  }

  .download-section {
    margin: 1.2em 0 0 0;
    color: #ddd;

    .section-decs {
      border: solid $primary-color;
      padding: 5px;
      color: $primary-color;
      text-align: center;
      font-weight: bold;
    }

    @extend %ul-style
  }
}

.btn-primary {
  background: transparent;
  color: $primary-color;
  border: solid 2px $primary-color;
  height: 3em;
  width: 9em;
  padding: 0 5px;
  cursor: pointer;
}

// RWD for Video Section
@media screen and (max-width: 400px) {
  .video-container {
    .video-section-1 {
      flex-direction: column;

      .history-section {
        cursor: pointer;
      }
    }

  }
}

// Audio Section

.audio-container {
  @extend %flex;
  height: 95vh;
  flex-direction: row;

  .audio-section-1 {
    @extend %flex;
    flex-direction: column;
    flex: 3;

    .play-section {
      background: burlywood;
      flex: 1;
    }

    .editor-section {
      background: yellow;
      flex: 1
    }
  }

  .audio-list {
    @extend %flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    color: #ddd;
    @extend %ul-style;

    .section-decs {
      border: solid $primary-color;
      padding: 5px;
      color: $primary-color;
      text-align: center;
      font-weight: bold;
    }
  }
}

// RWD for Video Section
@media screen and (max-width: 400px) {
  .audio-container {
    flex-direction: column;
  }
}